data/*
docs/external_supporting/*
docs/external_supporting
src/__pycache__
docs/dev_docs
src/quatro_temp
src/viz/__pycache__/*
src/scorecard/__pycache__/*
src/scorecard_regression/__pycache__/*
src/scorecard_regression/profitability/__pycache__/*
