# Data manipulation and analysis
pandas
numpy

# Visualization
matplotlib
seaborn
plotly
tabulate

# Machine learning and statistics
scikit-learn
scorecardpy
statsmodels

# Development tools
jupyter
quarto
jupyter-cache

# Utilities
python-dateutil

# Geolocation Package
geopy